.main-page {
    background-image: url('https://github.com/Workintech/fsweb-s8-challenge-pizza/blob/main/images/iteration-1-images/home-banner.png?raw=true');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh; 
    padding: 1rem;
}

img.brend-name {
    display: block;
    margin: 0 auto; 
    width: 200px;
    margin-top: 3rem;
    width: 300px;
}

.div-slogane {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    margin-top: 9rem;
    text-align: center; 
}

.slogane {
    font-size: 3rem; 
    text-align: center; 
    width: 30%;
    font-weight: 400;
    font-family: "Barlow";
    color: white;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

}

button {
    background-color: #FDC913;
    border: none;
    border-radius: 2rem;
    padding: 1.3rem 3.9rem;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #FFA500; 
}