

/*-------------------- HEADER --------------*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ce2829;
  color: white;
  padding: 1rem;
}
nav {
  display: flex;
  gap: 1rem;
  transition: color 0.3s ease;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*-------------------- MAIN --------------*/

.all {
  display: block;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 0.7rem;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  margin-left: 500px;
  padding-top: 1rem;
}

/*-------------------- ABOUT PIZZA --------------*/

.pizza-name {
  font-size: 1rem;
  text-align: left;
}

.price-tl {
  font-size: 1.2rem;
  font-weight: bold;
}

.price {
    width: 30%;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.about-pizza {
  width: 30%;
}

/*-------------------- CHOICE PART --------------*/

.selector {
  display: flex;
  gap: 8rem;
}

/*-------------------- CHOICE SIZE --------------*/

.select-size {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 10px;
}

.radio-button label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  cursor: pointer;
}

/*-------------------- CHOICE PASTRY --------------*/

/*-------------------- CHOICE INGREDIENT --------------*/

.extra {
  margin: 1rem 0;
}

.extra p {
  font-weight: bold;
  margin-bottom: 1rem;
}

.choice {
  display: flex;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/*-------------------- not ekleme kismi --------------*/

.order-note {
  margin: 1rem 0;
}

.order-note p {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.textarea {
  width: 24rem;
  height: 2rem;
  line-height: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.7rem;
  text-justify: center;
  resize: none;
}

.textarea:focus {
  border-color: #ce2829;
  outline: none;
  box-shadow: 0 0 5px rgba(206, 40, 41, 0.5);
}

/*-------------------- son kisim --------------*/

.last-part {
  display: flex;
  gap: 3px;
  width: 35%;
  align-items: start;
  padding: 2px;
}

.shadow-sm {
    margin: 0;
    padding: 0;
}

.custom-button {
    background-color: #FDC913;
    border: none;
    color: black !important;
    font-weight: 300 !important;
}

.custom-button:hover {
    background-color: #FFA500;
    border: none;
    color: black !important;
    font-weight: 600 !important;
}

